<main class="container">
  <%- include('./messages.ejs') %>
    <!-- testing react integration-->
    <div id="product-list"></div>

    <header class="jumbotron my-4" id="homeJumbotron">
      <h1 class="home-title">Shopping lists made easy.</h1>
      <p class="lead">Manage your groceries online and ditch the scraps of paper.</p>
      <a href="users/sign_up" class="btn btn-primary btn-lg" id="home-browse-btn">Sign up</a>
      <a href="users/sign_in" class="btn btn-secondary btn-lg" id="home-browse-btn">Log in</a>
    </header>

    <!-- Page Features -->
    <section class="row text-center">

    </section>

    <!-- /.row -->

</main>