<!DOCTYPE html>


<html>
  <head>
    <%- include('../static/partials/head.ejs') %>
  </head>
  <body>
    <main class="container">
      <%- include('../static/partials/navbar.ejs') %>  
           
      <% if(currentUser) { %>

        <%- include('./partials/shoppinglist.ejs') %>

      <% } else { %>

        <%- include('./partials/loggedOutHome.ejs') %>
        
      <% } %>


    </main>

    

  </body>
</html>