<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.1.0/umd/react.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.1.0/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Items</h1>
     
      <% if(currentUser) { %>
        <div id="reactList"></div>
      <% } %>

    </main>

    

    
    <script type="text/babel">
       class Item extends React.Component {
            render() {
                return (
                    <div>
                    <li>
                        <input type="checkbox" checked={ this.props.isCompleted } onChange={ this.props.toggleComplete } />
                        <span>{ this.props.name }</span>
                    </li>
                    
                    </div>
                );
            }
        }

       class Shoppinglist extends React.Component {
         constructor(props) {
             super(props);
             this.state = {
                 items: [],
                 newItemName: ""
             };   
         }

        toggleComplete(index) {
            const items = this.state.items.slice();
            const item = items[index];
            item.isCompleted = item.isCompleted ? false : true;

            this.setState({ items: items });
        }

        handleSubmit(e) {
            e.preventDefault();
            if (!this.state.newItemName) { return };
            const newItem = { name: this.state.newItemName, isCompleted: false };
            this.setState({ items: [...this.state.items, newItem], newItemName: "" }); 
            console.log(JSON.stringify(newItem));
            fetch('/items/create', {
                method: 'POST',
                body: JSON.stringify(newItem),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                credentials : 'include' 
            })
            .then(function(response) {
                if (response.status >= 200 && response.status < 300) {
                console.log("wooopppeeee");
                console.log(response);
                return response;
            } else {
                var error = new Error(response.statusText);
                error.response = response;
                throw error;
            }
            }).then(function(response) {
                return response.json();
            }).then(function(json) {
                console.log('parsed json', json)
            }).catch(function(ex) {            
                console.log('parsing failed', ex)
            });
        }

        handleChange(e) {
             this.setState({ newItemName: e.target.value })
        }

        componentDidMount(){
            
            fetch("/getitems", {credentials: 'include'})
                .then(response => response.json())
                .then(json => {
                  console.log(json);
                  this.setState({items: json});
                  console.log(this.state);
      });


             
        };
        
        render() {
           return (
             <div className="Shoppinglist">
               <div className="ItemList">
                <ul>
                {this.state.items.map( (item, index) =>
                    <Item key={ index } name={ item.name } isComplete={ item.is_complete } toggleComplete={ () => this.toggleComplete(index) } />
                 )}
                 </ul>
                 <form onSubmit={ (e) => this.handleSubmit(e) }>
                        <input type="text" value={ this.state.newItemName } onChange={ (e) => this.handleChange(e) } />
                        <input type="submit" />
                </form>
             </div>
             </div>
           );
         }
       };
 
       ReactDOM.render(
         <Shoppinglist />, document.getElementById('reactList')
       );
    </script>
  </body>
</html>