 <!-- #1 -->
 <% if(item) { %>
    <div style="width: 50%">
      <hr>
      <p>
        <%= item.name %>
      </p>
      <small class="card-subtitle mb-2 text-muted">
   <!-- #2 -->
        Completed? <%= item.is_complete %>
      </small>

    </div>
  <% } %>