<!DOCTYPE html>
<html lang="en">
  <head>
   
  </head>
  <body>
    hello
<!--
        
      <% include ./partials/navbar.ejs %>

      <main class="container"> 
       
        <% if(currentUser) { %>

          <% include ./partials/shoppinglist.ejs %>

        <% } else { %>

          <% include ./partials/loggedOutHome.ejs %>

        <% } %>
        
      </main>

      <% include ./partials/baseScripts.ejs %>
    -->
    </body>
</html>
