<!DOCTYPE html>
<html>

<head>
  <%- include('../static/partials/head.ejs') %>
</head>

<body>

  <%- include('../static/partials/navbar.ejs') %>

    <main class="container">

      <%- include('../static/partials/messages.ejs') %>

        <h1 class="title-text">Sign in</h1>
        <h4>Not with us yet?
          <a href="/users/sign_up">Sign up</a>
        </h4>

        <form action="/users/sign_in" method="post">

          <div class="form-group">
            <label for="username">Username</label>
            <input type="username" class="form-control" name="username" aria-describedby="usernameHelp">
            <small class="text-muted" id="usernameHelp"></small>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" aria-describedby="passwordHelp">
          </div>

          <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
        </form>
    </main>

    <%- include('../static/partials/baseScripts.ejs') %>

</body>

</html>